
.btn-default-normal {
  width: 165px;
  height: 50px;
  background-color: #009cff;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(12, 114, 179, 0.28);
  border: 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  font-weight: 700;
  padding: 0;
  text-align: center;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    background-color: #009cff!important;
    color: #fff!important;
  }
}





.button-large {
  width: 165px;
  height: 50px;
  background-color: #009cff;
  border-radius: 4px;
  box-shadow: none;
  border: 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  font-weight: 700;
  padding: 0;
  text-align: center;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    background-color: #009cff!important;
    color: #fff!important;
  }
}

.btn-extra-large {
  display: block;
  margin: 40px auto 240px;
  width: 360px;
  height: 60px;
  background-color: #009cff;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(12, 114, 179, 0.28);
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  text-align: center;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    background-color: #009cff!important;
    color: #fff!important;
  }
}
