// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: ($line-height-computed / 2) auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: ($line-height-computed / 2);
  height: auto;
}
@media (min-width: $screen-sm-min) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($line-height-computed / 2);
  }
  .alignright {
    float: right;
    margin-left: ($line-height-computed / 2);
  }
}

// Profile page
@media (min-width: 600px) and (max-width: 1200px) {
  .acf-form {
    width: 556px;
    margin: 0 auto;

    .acf-field-57b5ac7b456ed, .acf-field-57b5b2235f17c {
      margin-right: 0!important;
    }
    .acf-field-57b5b1fc5f17b {
      margin-right: 29px!important;
    }
    .acf-field-57b5587a4477c {
      &:before {
        bottom: 460px!important;
      }
    }
  }
}


// Captions
.wp-caption {
  @extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}
