@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/homepage";
@import "layouts/request-presenter-proccess";
@import "layouts/presenter-marketing-page";
@import "layouts/posts";
@import "layouts/tinymce";

//file upload filed - request presenter step 5
.input-hidden {
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  &.active {
    display: flex;
  }
  .acf-label {
    position: relative;
    color: transparent;
    cursor: pointer;
    &:after,
    &:before {
      position: absolute;
      left: 10px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
      top: 0;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .acf-input {
    .hide-if-value {
      input[type="file"] {
        display: none!important;
      }
    }
  }
}
main.main > #clickArea {
  width: 100%;
  height: 30px;
  background-color: #e4e4e4;
      cursor: pointer;
}
.hidden {
  display: none;
}
