footer.content-info {
  background-color: #2b2b38;
  overflow: hidden;
  padding: 27px 32px 33px;
  p{
    float: left;
    color: #fff;
  }
  ul {
    float: right;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 15px;
      &:last-child {
        margin: 0;
      }
      a {
        display: block;
        height: 15px;
        &.fb {
          width: 7px;
        }
        &.twitter {
          width: 15px;
        }
        &.instagram {
          width: 15px;
        }
        &.in {
          width: 15px;
        }
        &.pinterest {
          width: 11px;
        }
        &.go {
          width: 14px;
        }
        svg {
          vertical-align: -webkit-baseline-middle;
        }
      }
    }
  }
}
