.navbar-login {
  background-color: #098bdd;
  // background-color: transparent;
  padding: 24px 30px;
  overflow: hidden;
  margin: 0;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  .navbar-brand-login {
    float: left;
    a {
      line-height: 0;
      #behance {
        width: 40px;
        height: 26px;
      }
    }
  }
  &.white {
      background-color: #3e3a3a!important;
      a {
          color: #555 !important;
      }
  }
  .nav-login {
    float: right;
    li {
      display: inline-block;
      padding: 0 20px 0 0;
      &:last-child {
        padding: 0;
      }
      a {
        font-size: 16px;
        line-height: 31px;
        color: #fff;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0;
        // font-weight: 700;
        &:hover,
        &:active,
        &:focus {
          color: #fff;
        }
      }
    }
  }
}

.navbar-dashboard {
  background-color: #009cff;
  padding: 15px 30px;
  overflow: hidden;
  margin: 0;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  .navbar-brand-dashboard {
    float: left;
    overflow: hidden;
    a {
      line-height: 0;
      float: left;
      #behance {
        width: 27px;
        height: 16px;
        margin-right: 15px;
      }
    }
    .name--user{
      float: right;
      span {
        font-size: 12px;
        color: #fff;
        letter-spacing: 4px;
        text-decoration: none;
        text-transform: none;
        padding: 0;
        font-weight: 700;
      }
    }
  }
  .nav-dashboard {
    float: right;
    li {
      display: inline-block;
      padding: 0 15px 0 0;
      &:last-child {
        padding: 0;
      }
      a {
        font-size: 12px;
        color: #fff;
        letter-spacing: 4px;
        text-decoration: none;
        text-transform: none;
        padding: 0;
        font-weight: 700;
        &:hover,
        &:active,
        &:focus {
          color: #fff;
          background: transparent;
        }
      }
    }
  }
}

nav#profile-nav {
    position: relative;
    background-color: #fff;
    ul {
        text-align: center;
        float: none;
        li {
            padding: 0 35px;
            float: none;
            display: inline-block;
            &.current-menu-item {
                a {
                    color: #009cff;
                }
            }
            a {
                font-size: 14px;
                line-height: 80px;
                color: #435663;
                letter-spacing: 4px;
                text-decoration: none;
                text-transform: uppercase;;
                padding: 0;
                font-weight: 900;
                &:hover {
                    background-color: transparent;
                }
                &:active,
                &:focus {
                  color: #009cff;
                }
            }
        }
    }
    .save--button {
        position: absolute;
        top:0;
        right: 35px;
        background: transparent;
        border: 0;
        font-size: 14px;
        line-height: 80px;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 900;
        color: #009cff;
    }
}
