body.page-template-template-home {
    overflow-x: hidden;
    
    .wrap {
        width: 100%;
        padding: 0;
        .main {
            padding: 0;
            background: url("../../assets/images/behance-header.png") top left scroll no-repeat;
            background-size: 2560px;

            .section {
                h1 {
                    font-size: 100px;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 700;
                    margin: 0;
                }
                &.section-1 {
                    padding-top: 225px;
                    padding-bottom: 195px;
                    h1 {
                        color: #fff;
                    }
                    h3 {
                        font-size: 24px;
                        text-align: center;
                        text-transform: none;
                        color: #fff;
                        font-weight: 700;
                        margin: 10px 0 110px;
                    }
                    .video {
                        height: 713px;
                        display: block;
                        position: relative;
                        &:after {
                            position: absolute;
                            content: '';
                            width: 90%;
                            height: 641px;
                            background: none;
                            box-shadow: 0 20px 40px rgba(22, 19, 8, 0.56);
                            left: 0;
                            right: 0;
                            margin: auto;
                            bottom: 0;
                        }
                        .info {
                            position: absolute;
                            left: 40px;
                            bottom: 40px;
                            right: 40px;
                            margin: auto;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            div {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                p {
                                    color: #fff;
                                    text-transform: uppercase;
                                    letter-spacing: 4px;
                                    font-weight: 700;
                                    margin-left: 40px;
                                }
                            }
                            span {
                                color: #fff;
                                text-transform: uppercase;
                                letter-spacing: 4px;
                                font-weight: 700;
                                opacity: 0.5;
                            }
                        }
                    }
                }

                &.section-2 {
                    padding-top: 170px;
                    padding-bottom: 260px;
                    h1 {
                        color: #191920;
                        margin-bottom: 230px;
                    }
                    .presenter {
                        text-decoration: none;
                        .image {
                            box-shadow: 0 15px 30px rgba(25, 25, 32, 0.2);
                            img {
                                width: 100%;
                                min-height: 500px;
                            }
                        }
                        &:nth-child(2){
                            margin-top:50px;
                        }
                        &:nth-child(3){
                            img {
                                height: 499px;
                            }
                        }
                        &:last-child {
                            margin-top: 57px;
                            img {
                                height: 500px;
                            }
                        }
                        .presenter-info {
                            padding: 20px 0 0;
                            h3 {
                                font-size: 24px;
                                color: #191920;
                                font-weight: 700;
                                margin: 0 0 5px;
                                text-transform: none;
                                text-align: left;
                            }
                            h4 {
                                font-size: 16px;
                                font-weight: 400;
                                color: #191920;
                                margin: 0;
                                text-transform: uppercase;
                                letter-spacing: 4px;
                                text-align: left;
                                opacity: 0.8;
                            }
                        }
                    }
                    .carousel-control {
                        width: 50px;
                        height: 50px;
                        background-color: white;
                        border-radius: 25px;
                        box-shadow: 0 15px 30px rgba(25, 25, 32, 0.2);
                        background-image: none;
                        bottom: -170px;
                        top: inherit;
                        opacity: 1;
                        text-shadow: none;
                        color: #191920;
                        left: 0;
                        right: 0;
                        margin: auto;
                        &.left {
                            left: -60px;
                            &:after {
                                position: absolute;
                                content: '';
                                width: 10px;
                                height: 15px;
                                left: -2px;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                background-size: 10px;
                                background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.23 13.99"><defs><style>.cls-1{fill:#191920;fill-rule:evenodd;}</style></defs><title>Untitled-6</title><g id="Shape_951" data-name="Shape 951"><polygon class="cls-1" points="9.23 1.96 7.19 0 0 7 7.19 13.99 9.23 12.03 4.05 7 9.23 1.96"/></g></svg>');
                            }
                        }
                        &.right {
                            right: -60px;
                            &:after {
                                position: absolute;
                                content: '';
                                width: 10px;
                                height: 15px;
                                left: 0;
                                right: -2px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                background-size: 10px;
                                background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.23 13.99"><defs><style>.cls-1{fill:#191920;fill-rule:evenodd;}</style></defs><title>Untitled-7</title><g id="Shape_951" data-name="Shape 951"><polygon class="cls-1" points="2.04 0 0 1.96 5.18 7 0 12.03 2.04 13.99 9.23 7 2.04 0"/></g></svg>');
                            }
                        }
                        .glyphicon-chevron-right,
                        .glyphicon-chevron-left {
                            display: none;
                        }
                    }
                    .overlay {
                      position: fixed;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      background: rgba(10,10,14,0.9);
                      transition: opacity 500ms;
                      visibility: hidden;
                      opacity: 0;
                      z-index: 999;
                      &:target {
                        visibility: visible;
                        opacity: 1;
                      }

                      .popup {
                        margin: auto;
                        background-color: #191920;
                        position: relative;
                        top: 50%;
                        transform: translateY(50%);
                        padding: 0;

                        .close:hover {
                          color: #06D85F;
                        }

                        .content {
                          max-height: 30%;
                          overflow: auto;
                          padding: 0;
                          display: flex;
                          justify-content: flex-start;
                          align-items: center;

                          .p-info {
                              padding: 0 100px 0 40px;
                              h2 {
                                  font-size: 100px;
                                  color: #fff;
                                  font-weight: 700;
                                  margin: 0 0 40px;
                              }
                              p{
                                  color: #fff;
                                  opacity: 0.5;
                                  margin: 0 0 40px;
                              }
                              .links {
                                  svg {
                                      width: 40px;
                                      height: 40px;
                                      margin-right: 15px;
                                  }
                              }
                          }
                        }
                        .close {
                          position: absolute;
                          top: -70px;
                          left: 0;
                          transition: all 200ms;
                        }
                        .arrows {
                            position: absolute;
                            top: -70px;
                            right: 0;
                            .left {
                                margin-right: 10px;
                            }
                        }
                      }
                    }
                }

                &.section-3 {
                    padding-top: 110px;
                    padding-bottom: 175px;
                    h1 {
                        color: #2b2b38;
                        margin-bottom: 10px;
                    }
                    h2 {
                        font-size: 16px;
                        font-weight: 700;
                        text-align: center;
                        text-transform: uppercase;
                        color: #b2b5ba;
                        letter-spacing: 4px;
                        margin: 0 0 130px;
                    }

                    .coll {
                        // width: 263px;
                        // padding: 0;
                        // margin-right: 28px;
                        .item {
                            background-color: #fff;
                            display: block;
                            margin-bottom: 30px;
                            text-decoration: none;
                            position: relative;
                            &.small {
                                height: 263px;
                            }
                            &.large {
                                height: 556px;
                            }
                            .tip-content {
                                padding: 40px;
                                span {
                                    font-size: 16px;
                                    font-weight: 700;
                                    text-align: left;
                                    text-transform: uppercase;
                                    color: #2b2b38;
                                    letter-spacing: 4px;
                                    margin: 0 0 10px;
                                    display: block;
                                    opacity: 0.5;
                                }
                                h4 {
                                    font-size: 24px;
                                    font-weight: 700;
                                    text-align: left;
                                    text-transform: none;
                                    color: #19170f;
                                    margin: 0;
                                }
                            }
                            &:after {
                                position: absolute;
                                content: '';
                                display: block;
                            }
                        }
                        &.coll-1 {
                            .item {
                                &:after {
                                    width: 15px;
                                    height: 20px;
                                    background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.19 19.98"><defs><style>.cls-1{fill:#191920;fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Shape_951" data-name="Shape 951"><polygon class="cls-1" points="2.91 0 0 2.79 7.4 9.99 0 17.19 2.91 19.98 13.19 9.99 2.91 0"/></g></svg>');
                                    background-repeat: no-repeat;
                                    left: 40px;
                                    bottom: 40px;
                                }
                            }
                        }
                        &.coll-2 {
                            margin-top: 40px;
                            .large {
                                &:after {
                                    width: 100%;
                                    height: 360px;
                                    left:0;
                                    bottom: 0;
                                    background: url("../../assets/images/col2-1.jpg") no-repeat;
                                    background-size: cover;
                                }
                            }
                            .small {
                                background: url("../../assets/images/col2-2.jpg") no-repeat;
                                background-size: cover;
                            }
                        }
                        &.coll-3 {
                            margin-top: 20px;
                            .item:nth-child(2) {
                                &:after {
                                    width: 15px;
                                    height: 20px;
                                    background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.19 19.98"><defs><style>.cls-1{fill:#191920;fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Shape_951" data-name="Shape 951"><polygon class="cls-1" points="2.91 0 0 2.79 7.4 9.99 0 17.19 2.91 19.98 13.19 9.99 2.91 0"/></g></svg>');
                                    background-repeat: no-repeat;
                                    left: 40px;
                                    bottom: 40px;
                                }
                            }
                            .small{
                                background: url("../../assets/images/col3.jpg") no-repeat;
                                background-size: cover;
                            }
                        }
                        &.coll-4 {
                            margin-top: 50px;
                            margin-right: 0!important;
                            .large {
                                background: url("../../assets/images/col4-1.jpg") no-repeat;
                                background-size: cover;
                                &:after {
                                    width: 26px;
                                    height: 26px;
                                    background: url("../../assets/images/dtail.png") no-repeat;
                                    background-size: cover;
                                    left: 40px;
                                    top: 40px;
                                }
                            }
                            .small{
                                background: url("../../assets/images/col4-2.jpg")  no-repeat;
                                background-size: cover;
                            }
                            .tip-content {
                                position: absolute;
                                bottom: 0;
                                h4 {
                                    color: #fff;
                                    span {
                                        opacity: 0.5;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }

                &.section-4 {
                    padding-top: 370px;
                    padding-bottom: 540px;
                    background: url("../../assets/images/schedule.png") top scroll no-repeat;
                    background-size: 2560px;
                    h1 {
                        color: #fff;
                        margin-bottom: 90px;
                    }
                    .row {
                        border-bottom: 1px solid #232327;
                        padding: 50px 0 40px;
                        .left {
                            padding-left: 0;
                            h4 {
                                font-size: 24px;
                                color: #fff;
                                font-weight: 700;
                                margin: 0 0 10px;
                                text-align: left;
                                span {
                                    font-weight: 300;
                                    opacity: 0.5;
                                    margin: 0;
                                }
                            }
                        }
                        .right {
                            p {
                                color: #fff;
                                opacity: 0.5;
                            }
                        }
                    }
                }

                &.section-5 {
                    padding-bottom: 150px;
                    h1 {
                        color: #191920;
                        margin-bottom: 90px;
                    }
                    table {
                        width: 100%;
                        tr {
                            padding: 38px 0 40px 0;
                            border-bottom: 1px solid #dcdfe2;
                            display: block;
                            td,th {
                                position: inherit;
                                float: left;
                                h3 {
                                    color: #191920;
                                    text-align: center;
                                    font-size: 24px;
                                    text-transform: none;
                                    font-weight: 700;
                                    margin: 0 0 10px;
                                }
                                h4 {
                                    color: #191920;
                                    text-align: center;
                                    opacity: 0.5;
                                    font-size: 16px;
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    letter-spacing: 4px;
                                    margin: 0;
                                }
                            }

                            &.bar {
                                padding: 0!important;
                                background: #191920;
                                border: 0!important;
                                h4 {
                                    color: #fff;
                                    opacity: 1;
                                    line-height: 67px;
                                }
                            }
                        }
                    }
                }

                &.section-6 {
                    background: url("../../assets/images/bg-6.png") bottom scroll no-repeat;
                    background-size: 2560px;
                    padding-top: 580px;
                    height: 3163px;
                    .sponsors {
                        margin-bottom: 220px;
                        h1 {
                            color: #fff;
                            margin-bottom: 170px;
                        }
                        .content {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a {
                                margin: 0 60px;
                            }
                        }
                    }
                    .about {
                        overflow: hidden;
                        margin-bottom: 110px;
                        h1 {
                            color: #fff;
                            margin-bottom: 70px;
                        }
                        p {
                            color: #fff;
                            margin-bottom: 30px;
                            opacity: 0.7;
                        }
                        .col-1 {
                            padding-left: 0;
                        }
                        .col-2 {
                            padding-right: 0;
                        }
                    }
                    .footer {
                        clear: both;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .copyright {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            svg {
                                width: 18px;
                                height: 18px;
                                margin-right: 10px;
                            }
                            p {
                                color: #fff;
                                opacity: 0.7;
                            }
                        }
                        .links {
                            svg {
                                margin-left: 50px;
                                &#fb {
                                    width: 10px;
                                    height: 19px;
                                }
                                &#twitter {
                                    width: 27px;
                                    height: 19px;
                                }
                                &#be {
                                    width: 27px;
                                    height: 16px;
                                }
                                &#ball {
                                    width: 19px;
                                    height: 19px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        display: none!important;
    }
}

@media (min-width: 768px) and (max-width:990px) {
    #popup1 {
        .p-info {
            padding-right: 60px;
            h2{
                font-size: 80px;
            }
        }
    }
}
