body.page-template-template-present {
    overflow-x: hidden;
    > .wrap {
        width: 100%;
        padding: 0;
        .main {
            padding: 0;

            background: url("../../assets/images/bg-1.png") top left scroll no-repeat;
            background-size: 2560px;
            background-size: 100%;
            .section {
                h1 {
                    font-size: 100px;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                &.section-1 {
                    padding-top: 310px;
                    padding-bottom: 875px;
                    h1 {
                        color: #fff;
                    }
                    h3 {
                        font-size: 24px;
                        text-align: center;
                        text-transform: none;
                        color: #fff;
                        font-weight: 700;
                        margin-bottom: 40px;
                    }
                    .btns {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 23px;
                        .btn-register {
                            width: 200px;
                            height: 50px;
                            background-color: #fed469;
                            border-radius: 2px;
                            box-shadow: 0 10px 20px rgba(14, 31, 42, 0.28);
                            color: #191920;
                            font-size: 16px;
                            line-height: 50px;
                            font-weight: 900;
                            letter-spacing: 3px;
                            text-align: center;
                            text-transform: uppercase;
                            border: 0;
                            padding: 0;
                            &.btn-register-login {
                                background: #fff;
                            }
                        }
                    }
                }

                &.section-2 {
                    padding-top: 230px;
                    padding-bottom: 444px;
                    h1 {
                        color: #191920;
                        margin-bottom: 130px;
                    }
                    .link {
                        display: block;
                        width: 100%;
                        background-color: #191920;
                        box-shadow: 0 15px 30px rgba(25, 25, 32, 0.2);
                        margin-bottom: 30px;
                        text-decoration: none;
                        position: relative;
                        cursor: pointer;
                        &:before {
                            position: absolute;
                            content: '';
                            width: 68px;
                            height: 68px;
                            top: 40px;
                            left: 40px;
                            margin: auto;
                            background-size: 68px;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            width: 10px;
                            height: 14px;
                            right: 40px;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            background-size: 10px;
                            background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.23 13.99"><defs><style>.cls-1{fill:#fff;fill-rule:evenodd;}</style></defs><title>Untitled-5</title><g id="Shape_951" data-name="Shape 951"><polygon class="cls-1" points="2.04 0 0 1.96 5.18 7 0 12.03 2.04 13.99 9.23 7 2.04 0"/></g></svg>');
                        }
                        &.link-profile {
                            &:before {
                                background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.2 67.2"><defs><style>.cls-1{fill:#fff;fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="setting"><path class="cls-1" d="M400,136.5A10.5,10.5,0,1,0,410.5,147,10.5,10.5,0,0,0,400,136.5Zm0,16.8a6.3,6.3,0,1,1,6.3-6.3A6.3,6.3,0,0,1,400,153.3Zm26.83-15.6-.49-.16c-.3-.84-.64-1.67-1-2.47l.23-.45a7.48,7.48,0,0,0-.47-10.05l-2.64-2.64a7.47,7.47,0,0,0-10-.47l-.45.23c-.8-.38-1.63-.72-2.47-1l-.16-.5a7.47,7.47,0,0,0-7.44-6.77h-3.73a7.47,7.47,0,0,0-7.43,6.77l-.16.49c-.84.3-1.66.64-2.47,1l-.48-.24a7.46,7.46,0,0,0-10,.47l-2.64,2.64a7.47,7.47,0,0,0-.48,10l.23.47q-.56,1.19-1,2.45l-.51.17a7.48,7.48,0,0,0-6.76,7.43v3.74a7.48,7.48,0,0,0,6.76,7.43l.51.17q.45,1.26,1,2.45l-.24.48a7.46,7.46,0,0,0,.48,10l2.64,2.64a7.47,7.47,0,0,0,10,.48l.48-.23q1.2.56,2.46,1l.17.52a7.47,7.47,0,0,0,7.43,6.75h3.73a7.48,7.48,0,0,0,7.44-6.75l.17-.52q1.26-.45,2.46-1l.46.23a7.47,7.47,0,0,0,10-.47l2.64-2.64a7.47,7.47,0,0,0,.47-10l-.23-.46c.38-.8.72-1.63,1-2.47l.49-.16a7.47,7.47,0,0,0,6.77-7.43v-3.74A7.48,7.48,0,0,0,426.83,137.7Zm2.58,11.14a3.67,3.67,0,0,1-3.68,3.67l-2.73.9a23.8,23.8,0,0,1-2.2,5.33l1.3,2.56a3.67,3.67,0,0,1,0,5.2l-2.6,2.6a3.68,3.68,0,0,1-5.2,0l-2.56-1.3a23.68,23.68,0,0,1-5.3,2.19l-.92,2.74a3.68,3.68,0,0,1-3.68,3.67h-3.68a3.68,3.68,0,0,1-3.68-3.67l-.92-2.74a23.73,23.73,0,0,1-5.28-2.18l-2.58,1.28a3.67,3.67,0,0,1-5.2,0l-2.6-2.6a3.67,3.67,0,0,1,0-5.2l1.28-2.58a23.86,23.86,0,0,1-2.18-5.29l-2.74-.92a3.67,3.67,0,0,1-3.68-3.67v-3.68a3.68,3.68,0,0,1,3.68-3.68l2.74-.92a23.69,23.69,0,0,1,2.18-5.28l-1.28-2.58a3.68,3.68,0,0,1,0-5.2l2.6-2.6a3.65,3.65,0,0,1,2.6-1.08,2.86,2.86,0,0,1,2.38.73l2.62,1.3a24.1,24.1,0,0,1,5.4-2.22l1-2.37a3.67,3.67,0,0,1,3.68-3.67h3.68a3.67,3.67,0,0,1,3.68,3.67l.9,2.74a23.72,23.72,0,0,1,5.33,2.2l2.56-1.3a4.71,4.71,0,0,1,2.86-1.44c1,0,1.62.72,2.34,1.44l2.6,2.6a3.68,3.68,0,0,1,0,5.2l-1.29,2.56a23.83,23.83,0,0,1,2.2,5.33l2.73.89a3.68,3.68,0,0,1,3.68,3.68Z" transform="translate(-366.4 -113.4)"/></g></svg>');
                            }
                        }
                        &.link-press-kit {
                            background: #fff;
                            h3, p {
                                color: #191920!important;
                            }
                            &:before {
                                background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.18 67.2"><defs><style>.cls-1{fill:#191920;fill-rule:evenodd;}</style></defs><title>Untitled-2</title><g id="user"><path class="cls-1" d="M433.3,171.4c-3-7.74-8.18-9.55-12.32-10.27a32.08,32.08,0,0,1-8.36-2.66c0-3.57,0-4.71-.06-5.49a26.67,26.67,0,0,0,6.36-16.48c0-12.76-6.31-23.1-18.9-23.1s-18.9,10.34-18.9,23.1a26.64,26.64,0,0,0,6.28,16.4c0,2,0,5.11,0,5.57a32.41,32.41,0,0,1-8.35,2.65c-4.14.71-9.28,2.52-12.32,10.27a4.08,4.08,0,0,0,.5,3.92c3.12,4.37,19.56,5.29,32.8,5.29s29.68-.92,32.8-5.29A4.08,4.08,0,0,0,433.3,171.4Zm-48-34.9c0-10.43,4.92-18.9,14.71-18.9s14.72,8.47,14.72,18.9c0,8.54-6.59,18.9-14.72,18.9S385.3,145.07,385.3,136.5ZM400,176.4c-25.62,0-29.14-3.38-29.25-3.52,2.36-6,5.9-7.09,9-7.63a36.86,36.86,0,0,0,9.66-3.09l2.06-1.08.1-4.31a13.93,13.93,0,0,0,16.8,0c0,1.69.08,4.25.08,4.25l2.07,1.1a36.49,36.49,0,0,0,9.69,3.11c3.13.54,6.67,1.62,9.05,7.62C429.13,173,425.61,176.4,400,176.4Z" transform="translate(-366.4 -113.4)"/></g></svg>');
                            }
                            &:after {
                                background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.23 13.99"><defs><style>.cls-1{fill:#191920;fill-rule:evenodd;}</style></defs><title>Untitled-4</title><g id="Shape_951" data-name="Shape 951"><polygon class="cls-1" points="2.04 0 0 1.96 5.18 7 0 12.03 2.04 13.99 9.23 7 2.04 0"/></g></svg>');
                            }
                        }
                        &.link-resources {
                            &:before {
                                width: 67px;
                                height: 63px;
                                background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.01 63"><defs><style>.cls-1{fill:#fff;fill-rule:evenodd;}</style></defs><title>Untitled-3</title><g id="folder"><path class="cls-1" d="M427.14,129.65h-2v-4.2c0-3.48-2.11-5.6-5.58-5.6H395.8c-2.12,0-9.12-4.2-11.17-4.2H372.07c-3.47,0-5.58,2.12-5.58,5.6v50.4a6.29,6.29,0,0,0,6.28,6.3h3.49v.7h50.88a6.38,6.38,0,0,0,6.36-6.39V136A6.38,6.38,0,0,0,427.14,129.65Zm-52.28,44.8c-2.31,0-4.19-2.58-4.19-4.9v-46.2c0-2.32,1.87-3.5,4.19-3.5h9.77c2,0,9.06,4.2,11.17,4.2h20.94c2.31,0,4.19,1.18,4.19,3.5v2.1H382.62a6.38,6.38,0,0,0-6.36,6.4v38.41Zm54.45-4.9c0,2.32-1.87,4.9-4.19,4.9H380.45V138c0-2.32,2.57-4.2,4.89-4.2h39.79a4.2,4.2,0,0,1,4.19,4.2Z" transform="translate(-366.49 -115.65)"/></g></svg>');
                            }
                        }
                        .tip-content {
                            padding: 45px 40px 45px 180px;
                            h3 {
                                font-size: 24px;
                                color: #fff;
                                text-align: left;
                                font-weight: 700;
                                margin: 0 0 10px;
                                text-transform: none;
                            }
                            p {
                                font-size: 16px;
                                line-height: 25px;
                                color: #fff;
                                text-align: left;
                                font-weight: 400;
                                margin: 0;
                                text-transform: none;
                            }
                        }
                    }
                }

                &.section-3 {
                    background: url("../../assets/images/bg-3.png") bottom scroll no-repeat;
                    background-size: 2560px;
                    padding-top: 600px;
                    padding-bottom: 380px;
                    h1 {
                        color: #fff;
                        margin-bottom: 200px;
                    }
                    .fact {
                        text-align: center;
                        h1 {
                            margin-bottom: 20px!important;
                        }
                        span {
                            font-size: 16px;
                            text-align: center;
                            text-transform: uppercase;
                            color: #fed469;
                            font-weight: 700;
                            margin-bottom: 0;
                            letter-spacing: 4px;
                        }
                    }
                }

                &.section-4 {
                    padding-top: 345px;
                    padding-bottom: 510px;
                    h1 {
                        color: #191920;
                        margin-bottom: 200px;
                    }
                    .review {
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                        .text {
                            padding: 35px 30px 30px;
                            background: #fff;
                            p {
                                font-size: 16px;
                                line-height: 25px;
                                color: #191920;
                                font-weight: 400;
                                margin: 0;
                                text-transform: none;
                                text-align: left;
                            }
                        }
                        .presenter {
                            padding: 27px 30px;
                            background: #191920;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .presenter-info {
                                margin-left: 30px;
                            }
                            h3 {
                                font-size: 24px;
                                color: #fff;
                                font-weight: 700;
                                margin: 0 0 5px;
                                text-transform: none;
                                text-align: left;
                            }
                            h4 {
                                font-size: 16px;
                                font-weight: 700;
                                color: #8c8c90;
                                margin: 0;
                                text-transform: uppercase;
                                letter-spacing: 4px;
                                text-align: left;
                            }
                        }
                    }
                    .carousel-control {
                        width: 50px;
                        height: 50px;
                        background-color: white;
                        border-radius: 25px;
                        box-shadow: 0 15px 30px rgba(25, 25, 32, 0.2);
                        background-image: none;
                        bottom: -342px;
                        top: inherit;
                        opacity: 1;
                        text-shadow: none;
                        color: #191920;
                        left: 0;
                        right: 0;
                        margin: auto;
                        &.left {
                            left: -60px;
                            &:after {
                                position: absolute;
                                content: '';
                                width: 10px;
                                height: 15px;
                                left: -2px;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                background-size: 10px;
                                background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.23 13.99"><defs><style>.cls-1{fill:#191920;fill-rule:evenodd;}</style></defs><title>Untitled-6</title><g id="Shape_951" data-name="Shape 951"><polygon class="cls-1" points="9.23 1.96 7.19 0 0 7 7.19 13.99 9.23 12.03 4.05 7 9.23 1.96"/></g></svg>');
                            }
                        }
                        &.right {
                            right: -60px;
                            &:after {
                                position: absolute;
                                content: '';
                                width: 10px;
                                height: 15px;
                                left: 0;
                                right: -2px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                background-size: 10px;
                                background-image:  url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.23 13.99"><defs><style>.cls-1{fill:#191920;fill-rule:evenodd;}</style></defs><title>Untitled-7</title><g id="Shape_951" data-name="Shape 951"><polygon class="cls-1" points="2.04 0 0 1.96 5.18 7 0 12.03 2.04 13.99 9.23 7 2.04 0"/></g></svg>');
                            }
                        }
                        .glyphicon-chevron-right,
                        .glyphicon-chevron-left {
                            display: none;
                        }
                    }
                }

                &.section-5 {
                    padding-top: 100px;
                    padding-bottom: 463px;
                    h1 {
                        color: #191920;
                        margin-bottom: 220px;
                    }
                    .event {
                        a {
                            width: 360px;
                            display: block;
                            margin: auto;
                            text-decoration: none;
                            box-shadow: 0 15px 30px rgba(25, 25, 32, 0.2);
                            position: relative;

                            &.review-4 {
                                background: url("../../assets/images/review4.png") no-repeat;
                            }
                            &.review-3 {
                                background: url("../../assets/images/review3.png") no-repeat;
                            }
                            &.review-2 {
                                background: url("../../assets/images/review2.png") no-repeat;
                            }

                            &:before {
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                margin: auto;
                                background-color: #191920;
                                opacity: 0.8;
                                cursor: pointer;
                            }

                            &:hover::before {
                                background-color: #fed469;
                            }
                            &:hover > .info h3 {
                                color: #191920;
                            }
                            &:hover > .info h4 {
                                color: #7a6941;
                            }
                        }
                        .info {
                            padding: 436px 40px 40px;
                            position: relative;
                            z-index: 3;
                            cursor: pointer;
                            h3 {
                                font-size: 24px;
                                text-align: left;
                                text-transform: none;
                                color: #fff;
                                font-weight: 700;
                                margin: 0 0 5px;
                            }
                            h4 {
                                font-size: 16px;
                                font-weight: 700;
                                color: #8c8c90;
                                margin: 0;
                                text-transform: uppercase;
                                letter-spacing: 4px;
                                text-align: left;
                            }
                        }
                    }
                }

                &.section-6 {
                    background: url("../../assets/images/bg-6.png") bottom scroll no-repeat;
                    background-size: 2560px;
                    padding-top: 580px;
                    height: 3163px;
                    .sponsors {
                        margin-bottom: 220px;
                        h1 {
                            color: #fff;
                            margin-bottom: 170px;
                        }
                        .content {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a {
                                margin: 0 60px;
                            }
                        }
                    }
                    .about {
                        overflow: hidden;
                        margin-bottom: 110px;
                        h1 {
                            color: #fff;
                            margin-bottom: 70px;
                        }
                        p {
                            color: #fff;
                            margin-bottom: 30px;
                            opacity: 0.7;
                        }
                        .col-1 {
                            padding-left: 0;
                        }
                        .col-2 {
                            padding-right: 0;
                        }
                    }
                    .footer {
                        clear: both;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .copyright {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            svg {
                                width: 18px;
                                height: 18px;
                                margin-right: 10px;
                            }
                            p {
                                color: #fff;
                                opacity: 0.7;
                            }
                        }
                        .links {
                            svg {
                                margin-left: 50px;
                                &#fb {
                                    width: 10px;
                                    height: 19px;
                                }
                                &#twitter {
                                    width: 27px;
                                    height: 19px;
                                }
                                &#be {
                                    width: 27px;
                                    height: 16px;
                                }
                                &#ball {
                                    width: 19px;
                                    height: 19px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        display: none!important;
    }
}

// Media queries

@media (min-width: 990px) and (max-width: 1200px) {
      .section-1{
          .btns {
              display: block!important;
              text-align: center!important;
              .btn {
                  display: block!important;
                  margin: auto auto 20px!important;
              }
          }
      }

      .section-5 {
          .event{
              float: none!important;
              margin: 20px auto!important;
          }
      }
  }

@media (min-width: 768px) and (max-width:990px) {
    .section-1{
        .btns {
            display: block!important;
            text-align: center!important;
            .btn {
                display: block!important;
                margin: auto auto 20px!important;
            }
        }
    }

    .section-3 {
        background-size: cover!important;
        .fact {
            margin-bottom: 40px!important;
        }
    }

    .section-4 {
        .review {
            padding: 0!important;
            margin: 20px auto!important;
        }
    }

    .section-5 {
        .event{
            float: none!important;
            margin: 20px auto!important;
        }
    }

    .section-6 {
        .col-1, .col-2 {
            padding: 0!important;
        }
    }
}
